
/*inits*/

*{
    margin: 0px;
    padding: 0px;	
}
main,header,footer, nav, section,aside,#logo{
    display : block;
}
footer{
    width: 100%;
}

a{
	text-decoration: none;
}


body{
	line-height: 170px; 
	min-width: 1000px;
	font-family:Arial;
	text-align: center;
	font-size:30px;	
}

header
{
	grid-row:1;
	grid-column:2/4;
	background-color:#FF69B4  ;
	display:flex;
    justify-content: center;
    align-items: center;	
}


#logo{
    background: url(../images/iconbutterfly.png) no-repeat center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;

}

/*first page*/
.wrapper{
	display: grid;
	grid-template-columns: 9% 67% 15% 9%; 
	grid-template-rows: 100px 834px;
}



.wrapper main{
	border-right: 1px solid #FAEBD7;
}

/*nav*/

nav a{
	color :#FF69B4;	
}

nav a:hover{
    color: #FF00FF;  
}


article{
  background-color: #FAEBD7;
    border: 2px solid rgb(53, 44, 48); 
	
}


.wrapper2,.wrapper3{
	display: grid;
	grid-template-columns: 10% 14% 66% 10%;
	grid-template-rows: 100px 188px 646px;
	
}

/*nav  page 2 & 3*/
.linkWeb , .linkWeb2
{	
	grid-column:2/4;
	grid-row:2;
	background-color: #faebd7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ff69b4' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.button
{
	float:left;
}

.linkWeb , .linkWeb2
{
	display:inline-block; 
	
}

.linkWeb a , .linkWeb2 a
{
	margin-left: 10px; 
}

.wrapper nav :nth-child(1){
	color:palevioletred;
	text-decoration: underline;
}
.wrapper2 .linkWeb :nth-child(2){
	color:palevioletred;
	text-decoration: underline;
}


.wrapper3 .linkWeb2 :nth-child(3){
	color:palevioletred;
	text-decoration: underline;
}

.side{	  
	grid-row:1/4;
	background: -webkit-linear-gradient(to bottom,#FF69B4  , transparent 20%);  
	background: linear-gradient(to bottom,#FF69B4, transparent 20%); 
	background-color: #FAEBD7;  	
}

.side2{
	grid-row:1/4;
	background: -webkit-linear-gradient(to bottom,#FF69B4  , transparent 3%);  
	background: linear-gradient(to bottom,#FF69B4, transparent 3%); 
	background-color: #FAEBD7; 
	height: 6000px;
}

.wrapper2 main:not(#container) {	
	grid-column:3;
	 border-left: 3px solid #FF69B4 ;
	
}






.wrapper main article:nth-child(1){
	margin-top:88px;float:left;
	margin-left:3%;
	width:22%;
	height: 300px;
}

.wrapper main article:nth-child(2){
	margin-left:20%;float:left;
	margin-top:20px;
	width: 45%;
	height: 285px;
}

.wrapper main article:nth-child(3){
	margin-left:10%;float:left;
	margin-top: 141px;
	width:22%;
	height: 300px;
}





/* wrapper2 */


.wrapper2 main:not(#container) article:nth-child(1){
	float:right;
	margin-top:62px;
	margin-right:10%;
	width:14%;
	height: 88px;
}

.wrapper2 main:not(#container) article:nth-child(2){
	float:right;
	margin-top:62px;
	margin-right:5%;
	width: 14%;
	height: 88px;
}

.wrapper2 main:not(#container) article:nth-child(3){
	float:right;
	margin-right:10%;
	margin-top: 84px;
	width:49%;
	height: 300px;
}
.wrapper2 main:not(#container) article:nth-child(4){
	float:right;
	margin-top: 299px;
	margin-right:2%;
	width:32%;
	height: 85px;
}

.wrapper nav {
	display:grid;
	grid-template-rows: 80px 80px 80px 1fr ;	

}

/*page 3*/



button{
	float: left;
    background-color: #FAEBD7;
	border: 1.2px solid #FF69B4 ;
	height: 40px;
	width: 40px;  
	color:#FF69B4  ;
}

#container{
	grid-column:2/4;
	grid-row:3;
	display:flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-content:space-between; 
}



#container div {
    border: 1px solid #000000;
    width: 205px;
    height: 314px;
	margin: 70px;
    background-color: #ffffff;
}


/* Footer area */


footer{
	height: 66px;
	background-color:#FF69B4  ;
	position: fixed;
    bottom: 0px;
}

/* screan re-size */

@media (max-width:700px){
	.wrapper3 header{
		grid-column: 1/4;
		width: 100%;
	}

    .wrapper3 {
		max-width: 500px;
		
    }

	 .hamburger{
		position: absolute;
		left:0px;
		
		background: url("../images/bbb.png") no-repeat center;
		width: 60px;
		height: 60px;
	
	}

	.wrapper3 .side2{
	display: none;
	}
	.linkWeb2 {
        display: none;
    }

    #container div{
        margin-left: 35px;
    }

    button{
        display: none;
    }

    .wrapper3 footer,.wrapper3 header{
        width: 577px;
    }
    
}


	


